{% extends 'my_blog/base.html' %}
{% load static %}

 {% block content %}

    <div class="col-sm-10">
        <h3 class="text-white my-5">About Us</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquam architecto delectus dolores et, illo, iste laborum pariatur placeat,
            quaerat quam quia ratione reiciendis veniam vero.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusantium distinctio doloribus dolorum fuga fugit iste,
            labore laborum minus neque nostrum quisquam quos rem sequi tempore.
        </p>

    </div>
 {% endblock content %}